#main-header{
	background-image: url(../img/books.jpeg);
	background-size: cover;
	padding: 30px 0 60px 0;
	margin-bottom: 30px;
}

#main-header h1, 
#main-header p{
	color: white;
	text-shadow: 1px 1px 2px black;
}
#main-header h1{
	margin-top: 60px;
}

#shoppingCart img{
	max-width: 80px;
}

